<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mbg.exam.mapper.ChooseFuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mbg.exam.entity.ChooseFu">
        <id column="id" property="id" />
        <result column="c_subject" property="cSubject" />
        <result column="c_question" property="cQuestion" />
        <result column="c_answerA" property="cAnswera" />
        <result column="c_answerB" property="cAnswerb" />
        <result column="c_answerC" property="cAnswerc" />
        <result column="c_answerD" property="cAnswerd" />
        <result column="c_right" property="cRight" />
        <result column="c_analysis" property="cAnalysis" />
        <result column="c_score" property="cScore" />
        <result column="create_date" property="createDate" />
        <result column="modify_date" property="modifyDate" />
        <result column="c_state" property="cState" />
        <result column="paper_id" property="paperId" />
        <result column="c_semester" property="cSemester" />
        <result column="state_de" property="stateDe" />
        <result column="c_level" property="cLevel" />
    </resultMap>

</mapper>
