<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mbg.exam.mapper.FillFuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mbg.exam.entity.FillFu">
        <id column="id" property="id" />
        <result column="fi_question" property="fiQuestion" />
        <result column="fi_subject" property="fiSubject" />
        <result column="fi_right" property="fiRight" />
        <result column="fi_analysis" property="fiAnalysis" />
        <result column="fi_score" property="fiScore" />
        <result column="create_date" property="createDate" />
        <result column="modify_date" property="modifyDate" />
        <result column="fi_state" property="fiState" />
        <result column="paper_id" property="paperId" />
        <result column="fi_semester" property="fiSemester" />
        <result column="state_de" property="stateDe" />
        <result column="fi_level" property="fiLevel" />
    </resultMap>

</mapper>
