<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mbg.exam.mapper.LogsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mbg.exam.entity.Logs">
        <id column="id" property="id" />
        <result column="ip" property="ip" />
        <result column="ip_address" property="ipAddress" />
        <result column="data" property="data" />
        <result column="create_time" property="createTime" />
        <result column="modify_date" property="modifyDate" />
        <result column="tea_name" property="teaName" />
        <result column="times" property="times" />
    </resultMap>


    <resultMap id="selectall" type="java.util.HashMap">


    </resultMap>

    <select id="selectall" resultMap="selectall">
        select tea_name,times,ip,ip_address,data from ks_logs
    </select>


</mapper>
