<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mbg.exam.mapper.MingciFuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mbg.exam.entity.MingciFu">
        <id column="id" property="id" />
        <result column="mi_question" property="miQuestion" />
        <result column="mi_right" property="miRight" />
        <result column="mi_analysis" property="miAnalysis" />
        <result column="mi_score" property="miScore" />
        <result column="create_date" property="createDate" />
        <result column="modify_date" property="modifyDate" />
        <result column="mi_subject" property="miSubject" />
        <result column="mi_state" property="miState" />
        <result column="paper_id" property="paperId" />
        <result column="mi_semester" property="miSemester" />
        <result column="state_de" property="stateDe" />
        <result column="mi_level" property="miLevel" />
    </resultMap>

</mapper>
