<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mbg.exam.mapper.PaperMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mbg.exam.entity.Paper">
        <id column="id" property="id" />
        <result column="exam_name" property="examName" />
        <result column="manner" property="manner" />
        <result column="tea_name" property="teaName" />
        <result column="score" property="score" />
        <result column="subject" property="subject" />
        <result column="create_date" property="createDate" />
        <result column="modify_date" property="modifyDate" />
        <result column="state" property="state" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="exam_time" property="examTime" />
        <result column="num" property="num" />
        <result column="state_de" property="stateDe" />
        <collection property="chooseFus" ofType="com.mbg.exam.entity.ChooseFu">
            <id column="id" property="id" />
            <result column="c_subject" property="cSubject" />
            <result column="c_question" property="cQuestion" />
            <result column="c_answerA" property="cAnswera" />
            <result column="c_answerB" property="cAnswerb" />
            <result column="c_answerC" property="cAnswerc" />
            <result column="c_answerD" property="cAnswerd" />
            <result column="c_right" property="cRight" />
            <result column="c_analysis" property="cAnalysis" />
            <result column="c_score" property="cScore" />
            <result column="create_date" property="createDate" />
            <result column="modify_date" property="modifyDate" />
            <result column="c_state" property="cState" />
            <result column="paper_id" property="paperId" />
            <result column="c_semester" property="cSemester" />
            <result column="state_de" property="stateDe" />
        </collection>
        <collection property="fillFus" ofType="com.mbg.exam.entity.FillFu">
            <id column="id" property="id" />
            <result column="fi_question" property="fiQuestion" />
            <result column="fi_subject" property="fiSubject" />
            <result column="fi_right" property="fiRight" />
            <result column="fi_analysis" property="fiAnalysis" />
            <result column="fi_score" property="fiScore" />
            <result column="create_date" property="createDate" />
            <result column="modify_date" property="modifyDate" />
            <result column="fi_state" property="fiState" />
            <result column="paper_id" property="paperId" />
            <result column="fi_semester" property="fiSemester" />
            <result column="state_de" property="stateDe" />
        </collection>
        <collection property="fullInputFus" ofType="com.mbg.exam.entity.FullInputFu">
            <id column="id" property="id" />
            <result column="in_subject" property="inSubject" />
            <result column="in_data" property="inData" />
            <result column="answer1A" property="answer1a" />
            <result column="answer1B" property="answer1b" />
            <result column="answer1C" property="answer1c" />
            <result column="answer1D" property="answer1d" />
            <result column="answer2A" property="answer2a" />
            <result column="answer2B" property="answer2b" />
            <result column="answer2C" property="answer2c" />
            <result column="answer2D" property="answer2d" />
            <result column="answer3A" property="answer3a" />
            <result column="answer3B" property="answer3b" />
            <result column="answer3C" property="answer3c" />
            <result column="answer3D" property="answer3d" />
            <result column="answer4A" property="answer4a" />
            <result column="answer4B" property="answer4b" />
            <result column="answer4C" property="answer4c" />
            <result column="answer4D" property="answer4d" />
            <result column="answer5A" property="answer5a" />
            <result column="answer5B" property="answer5b" />
            <result column="answer5C" property="answer5c" />
            <result column="answer5D" property="answer5d" />
            <result column="answer6A" property="answer6a" />
            <result column="answer6B" property="answer6b" />
            <result column="answer6C" property="answer6c" />
            <result column="answer6D" property="answer6d" />
            <result column="answer7A" property="answer7a" />
            <result column="answer7B" property="answer7b" />
            <result column="answer7C" property="answer7c" />
            <result column="answer7D" property="answer7d" />
            <result column="answer8A" property="answer8a" />
            <result column="answer8B" property="answer8b" />
            <result column="answer8C" property="answer8c" />
            <result column="answer8D" property="answer8d" />
            <result column="answer9A" property="answer9a" />
            <result column="answer9B" property="answer9b" />
            <result column="answer9C" property="answer9c" />
            <result column="answer9D" property="answer9d" />
            <result column="answer10A" property="answer10a" />
            <result column="answer10B" property="answer10b" />
            <result column="answer10C" property="answer10c" />
            <result column="answer10D" property="answer10d" />
            <result column="answer11A" property="answer11a" />
            <result column="answer11B" property="answer11b" />
            <result column="answer11C" property="answer11c" />
            <result column="answer11D" property="answer11d" />
            <result column="answer12A" property="answer12a" />
            <result column="answer12B" property="answer12b" />
            <result column="answer12C" property="answer12c" />
            <result column="answer12D" property="answer12d" />
            <result column="answer13A" property="answer13a" />
            <result column="answer13B" property="answer13b" />
            <result column="answer13C" property="answer13c" />
            <result column="answer13D" property="answer13d" />
            <result column="answer14A" property="answer14a" />
            <result column="answer14B" property="answer14b" />
            <result column="answer14C" property="answer14c" />
            <result column="answer14D" property="answer14d" />
            <result column="answer15A" property="answer15a" />
            <result column="answer15B" property="answer15b" />
            <result column="answer15C" property="answer15c" />
            <result column="answer15D" property="answer15d" />
            <result column="right1" property="right1" />
            <result column="right2" property="right2" />
            <result column="right3" property="right3" />
            <result column="right4" property="right4" />
            <result column="right5" property="right5" />
            <result column="right6" property="right6" />
            <result column="right7" property="right7" />
            <result column="right8" property="right8" />
            <result column="right9" property="right9" />
            <result column="right10" property="right10" />
            <result column="right11" property="right11" />
            <result column="right12" property="right12" />
            <result column="right13" property="right13" />
            <result column="right14" property="right14" />
            <result column="right15" property="right15" />
            <result column="in_analysis" property="inAnalysis" />
            <result column="create_date" property="createDate" />
            <result column="modify_date" property="modifyDate" />
            <result column="in_state" property="inState" />
            <result column="paper_id" property="paperId" />
            <result column="in_semester" property="inSemester" />
            <result column="state_de" property="stateDe" />
        </collection>
        <collection property="listenFus" ofType="com.mbg.exam.entity.ListenFu">
            <id column="id" property="id" />
            <result column="li_subject" property="liSubject" />
            <result column="li_data" property="liData" />
            <result column="li_question" property="liQuestion" />
            <result column="li_answerA" property="liAnswera" />
            <result column="li_answerB" property="liAnswerb" />
            <result column="li_answerC" property="liAnswerc" />
            <result column="li_answerD" property="liAnswerd" />
            <result column="li_right" property="liRight" />
            <result column="li_analysis" property="liAnalysis" />
            <result column="li_score" property="liScore" />
            <result column="create_date" property="createDate" />
            <result column="modify_date" property="modifyDate" />
            <result column="li_state" property="liState" />
            <result column="paper_id" property="paperId" />
            <result column="li_semester" property="liSemester" />
            <result column="state_de" property="stateDe" />
        </collection>
        <collection property="mingcis" ofType="com.mbg.exam.entity.MingciFu">
            <id column="id" property="id" />
            <result column="mi_question" property="miQuestion" />
            <result column="mi_right" property="miRight" />
            <result column="mi_analysis" property="miAnalysis" />
            <result column="mi_score" property="miScore" />
            <result column="create_date" property="createDate" />
            <result column="modify_date" property="modifyDate" />
            <result column="mi_subject" property="miSubject" />
            <result column="mi_state" property="miState" />
            <result column="paper_id" property="paperId" />
            <result column="mi_semester" property="miSemester" />
            <result column="state_de" property="stateDe" />
        </collection>

    </resultMap>

    <resultMap id="inquirys" type="com.mbg.exam.entity.Paper">
        <id column="id" property="id" />
        <result column="exam_name" property="examName" />
        <result column="score" property="score" />
        <result column="state" property="state" />
        <result column="exam_time" property="examTime" />
        <result column="num" property="num" />
    </resultMap>

    <select id="inquiry" resultMap="inquirys">
        select * from ks_class_paper LEFT JOIN ks_paper on ks_class_paper.paper_id = ks_paper.id
        where ks_class_paper.sch_paper=#{school} and ks_class_paper.specialized=#{classes}
    </select>



    <select id="getpaper" resultMap="BaseResultMap">
        select * from ks_paper  left join ex_choose_fu on ks_paper.id=ex_choose_fu.paper_id
                                LEFT JOIN ex_fill_fu on ks_paper.id=ex_fill_fu.paper_id
                                LEFT JOIN ex_full_input_fu on ks_paper.id=ex_full_input_fu.paper_id
                                LEFT JOIN ex_listen_fu on ks_paper.id=ex_listen_fu.paper_id
                                LEFT JOIN ex_mingci_fu on ks_paper.id=ex_mingci_fu.paper_id
                                LEFT JOIN ks_answer on ks_paper.id=ks_answer.paper_id
        where ks_paper.id=#{id}
    </select>


    <select id="getpaper2" resultMap="BaseResultMap">
        select * from ks_paper  left join ex_choose_fu on ks_paper.id=ex_choose_fu.paper_id
                                LEFT JOIN ex_fill_fu on ks_paper.id=ex_fill_fu.paper_id
                                LEFT JOIN ex_full_input_fu on ks_paper.id=ex_full_input_fu.paper_id
                                LEFT JOIN ex_listen_fu on ks_paper.id=ex_listen_fu.paper_id
                                LEFT JOIN ex_mingci_fu on ks_paper.id=ex_mingci_fu.paper_id
                                LEFT JOIN ks_answer on ks_paper.id=ks_answer.paper_id
        where ks_paper.id=#{id}
    </select>
    
    


</mapper>
