<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mbg.exam.mapper.YueMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mbg.exam.entity.Yue">
        <id column="id" property="id" />
        <result column="yue_subject" property="yueSubject" />
        <result column="yue_question" property="yueQuestion" />
        <result column="yue_que1" property="yueQue1" />
        <result column="yue_answer1" property="yueAnswer1" />
        <result column="yue_right1" property="yueRight1" />
        <result column="yue_que2" property="yueQue2" />
        <result column="yue_answer2" property="yueAnswer2" />
        <result column="yue_right2" property="yueRight2" />
        <result column="yue_que3" property="yueQue3" />
        <result column="yue_answer3" property="yueAnswer3" />
        <result column="yue_right3" property="yueRight3" />
        <result column="yue_que4" property="yueQue4" />
        <result column="yue_answer4" property="yueAnswer4" />
        <result column="yue_right4" property="yueRight4" />
        <result column="yue_que5" property="yueQue5" />
        <result column="yue_answer5" property="yueAnswer5" />
        <result column="yue_right5" property="yueRight5" />
        <result column="yue_score" property="yueScore" />
        <result column="yue_analysis" property="yueAnalysis" />
        <result column="create_date" property="createDate" />
        <result column="modify_date" property="modifyDate" />
        <result column="state_de" property="stateDe" />
        <result column="yue_level" property="yueLevel" />
    </resultMap>

</mapper>
